<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @theme.numero %>
</p>

<p>
  <strong>Title:</strong>
  <%= @theme.title %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @theme.photo %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
